# Dependencies
/node_modules

# Build artifacts
/dist
/build

# Logs
*.log

# OS-specific files
.DS_Store

# Terraform files
.terraform
terraform.tfvars

# Sensitive credentials
gcloud-credentials.json
