swagger: '2.0'
info:
  title: Hello World API
  description: API for the Hello World service.
  version: 1.0.0
schemes:
  - https
produces:
  - application/json
paths:
  /hello:
    get:
      summary: Say hello.
      operationId: hello
      x-google-backend:
        address: ${service_url}
      responses:
        '200':
          description: A successful response
          schema:
            type: string
